* {
    box-sizing: border-box;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(197, 202, 221);
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 560px;
}
.link a{
  text-decoration: none;
  display:inline-block;
  margin:10px;
  color: black;
}
.link a:hover{
  transform:rotate(-15deg);
}


body{
 background-color: rgb(24, 14, 59);
 color: rgb(0, 0, 0);
}

.container{
    width: 65vw;
    margin: 0 auto;
    height: 100%;
    padding-top: 90px;
    background-color: rgba(198, 218, 255, 0.274);
    color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

#titulo{
 padding-left: 50px;
}
p{
    padding-left: 80px;
    padding-right: 75px;
}
footer{
  padding-top: 2px;
  height: 50px;
  margin-top: -50px;
  height: 50px;
  width: 100%;
  background-color: rgb(121, 131, 177);
  color: rgb(0, 0, 0);
  text-align: center;
}